<header class="header">
  ngIf, else, switch, ngTemplateOutlet
</header>
<main class="container form">
  <section class="if-else-container">
    <h4>*ngIf Else</h4>
    <input class="btn btn-primary" type="button" value="toggle text" (click)="onTextButtonClick()">
    <span class="if-else-text">
      <ng-container *ngIf="isFirstText else secondText">
        First text.
      </ng-container>
      <ng-template #secondText> 
        Second text.
      </ng-template>
    </span>
  </section>
  <section class="if-then-else-container">
    <h4>*ngIf Then Else</h4>
    <input class="btn btn-primary" type="button" value="toggle text" (click)="onTextButtonClick()">
    <ng-container *ngIf="isFirstTextWithThen then firstText else secondTextWithThen">
      <ng-template #firstTextWithThen>
        First text.
      </ng-template>
      <ng-template #secondTextWithThen> 
        Second text.
      </ng-template>
    </ng-container>
  </section>
  <hr>
  <section class="ngTemplateOutlet-container">
    <h4>*ngTemplateOutlet</h4>
    <ng-template #firstHumansInSpace let-astronaut="astronaut">
      <div>
        First humans in space: {{ astronaut.name }} {{ astronaut.surname }}
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="firstHumansInSpace context: firstAstronautContext"></ng-container>
    <ng-container *ngTemplateOutlet="firstHumansInSpace context: secondAstronautContext"></ng-container>
  </section>
  <br>
  <i>"templates are accessible also at the level of the component class, and we can do things such as for example use ViewChild and pass them to child components."</i>
  <hr>
  <section class="ngSwitch-container">
    <h4>ngSwitch</h4>
      <input type="number" class="form-control input-week-days" placeholder="Enter number of week" (change)="true" #dayNum>
      <span>
        The {{ dayNum.value }} day is: 
        <ng-container [ngSwitch]="dayNum.value">
          <ng-container *ngSwitchCase="1">Monday</ng-container>
          <ng-container *ngSwitchCase="2">Tuesday</ng-container>
          <ng-container *ngSwitchCase="3">Wednesday</ng-container>
          <ng-container *ngSwitchCase="4">Thursday</ng-container>
          <ng-container *ngSwitchCase="5">Friday</ng-container>
          <ng-container *ngSwitchCase="6">Saturday</ng-container>
          <ng-container *ngSwitchCase="7">Sunday</ng-container>
          <ng-container *ngSwitchDefault>Nothing selected!</ng-container>
        </ng-container>
      </span>
      </section>
    </main>
    